:root{
  --main-font: "Baloo Thambi 2", cursive;
}
.main {
  margin: 5px auto;
  justify-content: center;
  width: auto;
  width: 650px;
}

.header {
  margin: 0 auto;
  padding-top: 15px;
  width: 100%;
  padding-bottom: 35px;
}

.heading {
  font-family: var(--main-font);
  font-size: 25px;
  color: white;
}

.header .btn {
  float: right;
  font-family: var(--main-font);
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 1px 6px;
  margin-left: 10px;
  background-color: rgb(253, 106, 106);
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .btn-txt {
    display: none;
  }
}

.icon {
  padding-top: 5px;
}

hr.rule {
  border: 0;
  height: 1.5px;
  background: rgba(171, 63, 63, 0.502);
}

.container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 70%;
  min-width: 450px;
  border-radius: 10px;
  background-color: rgb(253, 106, 106);
}

.bttn {
  font-family: var(--main-font);
  font-size: 17px;
  color: white;
  background-color: inherit;
  padding: 10px 15px;
  margin: 0px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.pom-active-btn {
  background-color: rgb(184, 70, 68);
}

.sb-active-btn {
  background-color: rgb(50, 137, 139);
}

.lb-active-btn {
  background-color: rgb(82, 117, 163);
}

.clock {
  margin: 0 auto;
  width: 70%;
  justify-content: center;
  text-align: center;
}

#minutes,
#seconds,
#separator {
  color: white;
  font-family: var(--main-font);
  font-size: 90px;
}

#minutes {
  float: left;
  width: 40%;
}

#separator {
  margin: 0 auto;
  width: 10%;
}

#seconds {
  float: right;
  width: 40%;
}

.bottom {
  margin: 0 auto;
}

#start-stop {
  color: rgb(253, 106, 106);
  background-color: white;
  font-family: var(--main-font);
  font-size: 30px;
  padding: 10px 20px;
  width: 140px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.start {
  margin-top: 10px;
  border: none;
  border-bottom: 5px solid rgb(194, 192, 192);
}

.stop {
  border: none;
  margin-top: 15px;
}

.modal {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  border-radius: 20px;
  margin: 0 auto;
  color: black;
  font-family: var(--main-font);
  text-align: center;
  background-color: white;
  width: 450px;
}

.modal-header {
  padding: 15px 10px 5px 10px;
  height: 30%;
  text-align: left;
}

.modal-heading {
  font-size: 24px;
}

.btn-close {
  float: right;
  align-items: center;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
  margin-top: 5px;
}

.btn-close:hover,
.btn-update:hover {
  background-color: grey;
  border-radius: 5px;
}

.modal-body {
  padding: 0 10px;
}

.timer-settings {
  padding-bottom: 15px;
}

.inputs {
  display: inline-block;
  width: 30%;
  padding: 10px 5px;
}

.labels {
  font-size: 17px;
  display: block;
  padding-bottom: 5px;
}

input[type="number"] {
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px 6px;
  font-family: var(--main-font);
  font-size: 16px;
}

.lb-settings {
  text-align: left;
  padding-bottom: 10px;
}

.lb-label {
  padding-right: 15px;
}

.lb-settings input[type="number"] {
  width: 25%;
}

.modal-bottom {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-update {
  font-family: var(--main-font);
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}
